FUNGSI

percobaan fungsi 1 fungsi berparameter

In [ ]:
def message(number):
  print('Enter a number :', number)
number=1234
message(1)
print(number)

Enter a number : 1
1234

Percobaan fungsi 2 multi parameter

In [ ]:
def message(what, number):
  print('Enter',what,'number',number)
message('telephone',11)
message('price',5)
message('number','number')

Enter telephone number 11
Enter price number 5
Enter number number number

 Percobaan fungsi 3

In [ ]:
def my_fuction(a,b,c):
  print(a,b,c)
my_fuction(1,2,3)
print()

def introduction(first_name, last_name):
  print('Hello, my name is', first_name, last_name)
introduction('Skywalker','Luke')
introduction('Quick','Jesse')
introduction('Kent','Clark')
print()

def introduction(first_name, last_name):
  print('Hello, my name is', first_name, last_name)
introduction('Luke','Skywalker')
introduction('Jesse','Quick')
introduction('Clark','Kent')

1 2 3

Hello, my name is Skywalker Luke
Hello, my name is Quick Jesse
Hello, my name is Kent Clark

Hello, my name is Luke Skywalker
Hello, my name is Jesse Quick
Hello, my name is Clark Kent

Percobaan fungsi 4

In [ ]:
def introduction(first_name, last_name):
  print('Hello, my name is', first_name, last_name)
introduction(first_name='James',last_name='Bond')
introduction(last_name='Skywalker',first_name='Luke')

Hello, my name is James Bond
Hello, my name is Luke Skywalker

Percobaan 5

In [ ]:
def adding(a,b,c):
  print(a,'+',b,'+',c,'=',a+b+c)
adding(1,2,3)
adding(c=1,a=2,b=3)
adding(3,c=1,b=2)
adding(4,3,c=2)

1 + 2 + 3 = 6
2 + 3 + 1 = 6
3 + 2 + 1 = 6
4 + 3 + 2 = 9

Percobaan fungsi 6 (return, list, fungsi)

In [ ]:
def list_sum(lst):
  s=0
  for elem in lst:
    s+=elem
  return s
print(list_sum([5,4,3]))

12

In [ ]:
def list_sum(lst):
  s=0
  for elem in lst:
    s += elem
  return s
print(list_sum(5))

TypeError: ignored

In [ ]:
def strange_list_fun (n):
  strange_list = []
  for i in range(0,n):
    strange_list.insert(0,i)
  return strange_list
print(strange_list_fun(5))

[4, 3, 2, 1, 0]

Percobaan 7 membuat fungsi kasus BMI

In [ ]:
def bmi(weight, height):
  return weight / height ** 2
print(bmi(52.5, 1.65))

19.283746556473833

Percobaan 8 membuat fungsi dengan or atau and

In [ ]:
def is_a_triangle(a,b,c):
  if a+b<=c:
    return False
  if b + c <= a:
    return False
  if c + a <= b :
    return False
  return True
print(is_a_triangle(1,1,1))
print(is_a_triangle(1,1,3))

True
False

In [ ]:
def is_a_triangle(a,b,c):
  return a + b > c and b + c > a and c + a > b
print(is_a_triangle(1,1,1))
print(is_a_triangle(1,1,3))

True
False

In [ ]:
def is_a_triangle(a,b,c):
  if a + b <= c or b + c <= a or c + a <= b:
    return False
  return True
print(is_a_triangle(1,1,1))
print(is_a_triangle(1,1,3))

True
False

Percobaan 9 rumus segitiga

In [ ]:
def is_a_triangle(a,b,c):
  return a+b>c and b+c>a and c+a>b

def heron(a,b,c):
  p = (a+b+c)/2
  return(p*(p-a)*(p-b)*(p-c))**0.5

def area_of_triangle(a,b,c):
  if not is_a_triangle(a,b,c):
    return None
  return heron(a,b,c)
print(area_of_triangle(1.,1.,2.**.5))

0.49999999999999983

TUPLE DAN LIBRARY

Percobaan tuple 1

In [ ]:
my_tuple = tuple((1,2,'string'))
print(my_tuple)

my_list = [2,4,6]
print(my_list)
print(type(my_list))
tup = tuple(my_list)
print(tup)
print(type(tup))

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [ ]:
my_tuple=(1,10,100)
t1=my_tuple + (1000,10000)
t2=my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

Percobaan library 1

In [ ]:
dictionary = {'cat':'chat','dog':'chien','horse':'cheval'}
phone_numbers = {'boss':5551234567,'Suzy':22657854310}
empty_dictionary = {}
print(dictionary['cat'])
print(phone_numbers['Suzy'])

chat
22657854310

In [ ]:
dictionary = {'cat':'chat','dog':'chien','horse':'cheval'}
for key in dictionary.keys():
  print(key,'->',dictionary[key])

cat -> chat
dog -> chien
horse -> cheval

In [ ]:
dictionary={'cat':'chat','dog':'chien','horse':'cheval'}
words = ['cat','lion','horse']
for word in words:
  if word in dictionary:
    print(word, '->', dictionary[word])
  else:
    print(word,'is not in dictionary')

cat -> chat
lion is not in dictionary
horse -> cheval

Percobaan tuple dengan library

In [ ]:
school_class = {}
while True:
  name = input("Enter the student's name :")
  if name == '':
    break
  score = int(input("Enter the student's score(0-10) :"))
  if score not in range(0,11):
    break
  if name in school_class:
    school_class[name] += (score,)
  else:
    school_class[name] = (score,)
for name in sorted(school_class.keys()):
  adding = 0
  counter = 0
  for score in school_class[name]:
    adding += score
    counter += 1
  print(name,':',adding/counter)

Enter the student's name :cavel
Enter the student's score(0-10) :10
Enter the student's name :ozi
Enter the student's score(0-10) :9
Enter the student's name :
cavel : 10.0
ozi : 9.0

EXCEPTION
1.   Percobaan 1

In [ ]:
try:
  value = int(input('Enter a natural number:'))
  print('The Reciprocal of',value,'is',1/value)
except:
  print('I do not know what to do.')

Enter a natural number:y
I do not know what to do.

percobaan 2
menambahkan except zerodivissionerror

In [ ]:
while True:
  try:
    number = int(input('Enter an int number:'))
    print(5/number)
    break
  except ValueError:
    print('Wrong value.')
  except ZeroDivisionError:
    print('Sorry. I can not divide by zero.')
  except:
    print('I do not know what to do...')

Enter an int number:8
0.625

percobaan 3
Masukkan nilai 0

In [ ]:
try:
  value=int(input('Enter a value:'))
  print(value/value)
except ValueError:
  print('Bad input...')
except ZeroDivisionError:
  print('Very bad input...')
except:
  print('Booo!')

Enter a value:0
Very bad input...